In [4]:
import pandas as pd
from regions import us_regions_dict

In [2]:
state_counts = pd.read_csv('norm_totals_by_race.csv')
state_counts.head()

,Unnamed: 0,State,Total Population,State Abbr,black,jews,muslim,norm_black,norm_jewish,norm_muslim,total_count,total_norm,total_norm1,black_norm1,jewish_norm1,muslim_norm1
0,0,Alabama,4863300,AL,1.0,1.0,4.0,0.000021,0.000021,0.000082,6.0,0.000123,0.256860,0.064215,0.128430,0.351170
1,1,Alaska,741894,AK,1.0,0.0,1.0,0.000135,0.000000,0.000135,2.0,0.000270,0.561261,0.420946,0.000000,0.575501
2,2,Arizona,6931071,AZ,1.0,0.0,4.0,0.000014,0.000000,0.000058,5.0,0.000072,0.150192,0.045058,0.000000,0.246404
3,3,Arkansas,2988248,AR,3.0,1.0,3.0,0.000100,0.000033,0.000100,7.0,0.000234,0.487706,0.313525,0.209017,0.428640
4,4,California,39250017,CA,30.0,31.0,17.0,0.000076,0.000079,0.000043,78.0,0.000199,0.413744,0.238698,0.493310,0.184926

In [9]:
state_counts['region'] = ""

for value in us_regions_dict.values():
    print(value)
for index, row in state_counts.iterrows():
    state = row['State Abbr']
    for key,value in us_regions_dict.items():
        if state in value:
            state_counts.set_value(index, 'region', key)

['WA', 'OR', 'MT', 'WY', 'ID', 'NV', 'CA', 'AZ', 'NM', 'CO', 'UT']
['ND', 'SD', 'NE', 'KS', 'MO', 'IA', 'MN', 'WI', 'IL', 'IN', 'MI', 'OH']
['TX', 'OK', 'AR', 'LA', 'MS', 'TN', 'KY', 'WV', 'DC', 'MD', 'DE', 'VA', 'NC', 'SC', 'GA', 'FL']
['PA', 'NJ', 'CT', 'NY', 'CT', 'RI', 'MA', 'VT', 'NH', 'ME']